* {
    margin: 0;
    padding: 0;
    /* background-color: rgb(0, 105, 105); */
}
html{
    scroll-behavior: smooth;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');

body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 98vw;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding-top: 25px;
}

ul.first {
    list-style: none;
    display: flex;
    margin-left: 23px;
}

div.name {
    /* background-color: rgb(158, 156, 156); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 88px;
    width: 286px;
}
div.name img{
    width: 8rem;
    /* margin-right: 170px; */
}
div.name h2 {
    /* position: absolute;
    left: 100px; */
    font-size: 2rem;
    margin-left: -22px;
}

ul li {
    padding: 47px 43px;

}

ul li a {
    text-decoration: none;
    text-decoration-color: white;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 1000s ease;
    opacity: 100;
}

ul li a:hover {
    opacity: 50;
    text-decoration: underline;
    text-decoration-color: grey;
    transition: all 300ms ease;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 63px;
}
hr{
    width: 1077px;
    margin: auto;
}
.profile-pic {
    width: 24rem;
    border-radius: 50%;
    /* border: 3px solid white;
    border: 5px solid black; */
}

div.text-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div.text-info p {
    font-size: 22px;
}

div.text-info h1 {
    margin: 6px;
}

div.text-info h2 {
    margin-bottom: 10px;
    margin-top: -4px;
}

div.btn1 {
    display: flex;
    gap: 1rem;
}

div.btn2 {
    display: flex;
    gap: 6rem;
    margin: 6px;
}

.btn2 img {
    width: 2.5rem;
    margin: 6px;
    cursor: pointer;
}

div.btn1 button {
    border-radius: 2rem;
    width: 127px;
    height: 48px;
    background: none;
    font-weight: 600;
    cursor: pointer;
}

#github {
    background: rgb(53, 53, 53);
    color: white;
}

section#About {
    width: 98vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

section#About h1 {
    font-size: 2.6rem;
    text-align: center;
    width: 1116px;
    height: 72px;
    position: absolute;
    top: 59px;

}

section#About div.info2 img {
    width: 325px;
    border-radius: 4rem;
}

div.info2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3rem;
    gap: 4rem;
    margin-top: 3.2rem;

}

div.info2 div.text-info2 {
    margin-right: 60px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

div.text-info2 p {
    width: 580px;
    margin-top: 22px;
    color: rgb(85, 85, 85);
    font-size: large;
}

div.edu1 {
    border: 0.1rem solid black;
    border-color: rgb(163, 163, 163);
    width: 216px;
    height: 100px;
    border-radius: 2rem;
    text-align: center;
    padding: 1.5rem;
    position: relative;
    cursor: pointer;
    /* transition: ease 0.1s; */
}


div.edu2 {
    border: 0.1rem solid black;
    border-color: rgb(163, 163, 163);
    width: 216px;
    height: 100px;
    border-radius: 2rem;
    text-align: center;
    padding: 1.5rem;
    position: relative;
    cursor: pointer;
    /* transition: ease 0.1s; */

}

img.imgs1 {
    height: 3rem;
}

div.edu11 {
    position: absolute;
    border: 0.1rem solid black;
    border-color: rgb(163, 163, 163);
    width: 216px;
    height: 100px;
    border-radius: 2rem;
    text-align: center;
    padding: 1.5rem;
    cursor: pointer;
    left: 544px;
    top: 230px;
    z-index: -1;
}

div.edu12 {
    position: absolute;
    border: 0.1rem solid black;
    border-color: rgb(163, 163, 163);
    width: 216px;
    height: 100px;
    border-radius: 2rem;
    /* text-align: center; */
    padding: 1.5rem;
    cursor: pointer;
    left: 858px;
    top: 230px;
    z-index: -1;
}

div.edu11 li {
    opacity: 0;
    font-size: large;
}

div.edu12 li {
    opacity: 0;
    font-size: large;
}

div.edu11 li#one {
    margin-left: -115px;
}

div.edu11 li#two {
    margin-left: -127px;
}

div.edu11 li#three {
    margin-left: -73px;
}

section#Projects {
    width: 98vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
section#Projects h1{
    font-size: 2.6rem;
    text-align: center;
    width: 1116px;
    height: 72px;
    position: absolute;
    top: 59px;
}
section#Projects div.work{
    width: 86vw;
    height: 67vh;
    /* background-color: rgb(139, 137, 137); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 15px #cbc8c8;
}
section#Projects div.card {
    width: 17vw;
    height: 47vh;
    border: 2px solid rgb(237 237 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;    
    border-radius: 0.7rem;
    cursor: pointer;
    /* box-shadow: 5px 5px 10px #c1c1 */
    box-shadow: -10px -10px 15px #cbc8c8;
}
section#Projects div.secondcard img{
    border-radius: 7rem !important;
}
section#Projects div.card img {
    width: 12rem;
    border-radius: 3rem;
}
section#Projects div.thirdcard p{
    display: grid;
    place-items: center;
    padding-top: 2px !important;
    height: 47px !important;
}

section#Projects div.card p {
    font-family: 'Roboto', sans-serif;
    border-radius: 22px;
    width: 160px;
    height: 34px;
    text-align: center;
    padding-top: 15px;
    font-size: large;
    border: 2px solid black;
    background: rgb(53, 53, 53);
    color: white;
}

section#Contact{
    width: 100%;
    height: 37vh;
    background-color: #7d7d7d;
    color: white;
}
section#Contact div.abbr{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
section#Contact div.abbr ul.order{
    height: 175px;
    width: 7%;
    height: 34vh;  
}
section#Contact div.abbr ul.order li{
    padding: 12px 47px 12px 15px;
    /* margin-top: 22px; */
    font-size: 18px;
}
span.spin2{
    margin-top: -148px;
    font-size: 18px;
}
span.spin{
    width: 100%;
    text-align: center;
    display: block;
}
div.abbr img{
    position: absolute;
    width: 20rem;
    left: 131px;
    top: 12px;
    opacity: 5;
}